.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

/* 상단 헤더 */
.header {
  background-color: #3f3f3f;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* 통합검색 칸 */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.search-container input {
  width: 400px;  /* 너비 조정 */
  height: 20px;  /* 높이 조정 */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
  /* 위치 수동 조정 */
  position: absolute;  /* 위치를 절대값으로 설정 */
  top: 10px;  /* 상단에서 100px 떨어지도록 설정 */
  left: 750px;  /* 왼쪽에서 50px 떨어지도록 설정 */
}




/* 서비스탭 */
.service-tabs {
  display: flex;
  background-color: #333;
  color: white;
  padding: 10px;
  margin-top: 20px;  /* 위치 조정: 통합검색칸과 "야옹이의 놀이터" 아래로 위치 */
  justify-content: space-around;  /* 탭 간격 조정 */
}

.service-tabs .tab {
  margin-right: 20px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #444;
}

.service-tabs .tab.selected {
  background-color: #0066cc;
  font-weight: bold;
}

.tab {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  background-color: #333;
}

.tab.active {
  background-color: #007bff;
}

.main-content {
  display: flex;
  flex: 1;
}

/* 사이드바 */
.side-bar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 15px;
}

.board {
  width: 75%;
  background-color: white;
  padding: 15px;
}

.board-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}
